APP_PORT=3001
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgresusername
DB_PASSWORD=postgrespassword
DB_DATABASE_NAME=filPlusScraper
TRACER_DB_HOST=
TRACER_DB_PORT=5432
TRACER_DB_USERNAME=
TRACER_DB_PASSWORD=
TRACER_DB_DATABASE_NAME=
SCRAPER_SECONDARY_DB_HOST=
SCRAPER_SECONDARY_DB_PORT=5432
SCRAPER_SECONDARY_DB_USERNAME=
SCRAPER_SECONDARY_DB_PASSWORD=
SCRAPER_SECONDARY_DB_DATABASE_NAME=
LOTUS_RPC_URL=
LOTUS_RPC_UR2L=
LOTUS_WS_URL=
LOTUS_TOKEN2=
RABBITMQ_ERLANG_COOKIE=123
RABBITMQ_USER=rabbitmq
RABBITMQ_PASSWORD=rabbitmq